body{
    background-color: cornsilk;
    font-family:'Courier New', Courier, monospace;
}

img{
    width: 100px;
}

button{
    background: #0077ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: hidden;
    border-radius: 10%;
}